---
layout: page
title: Welcome to SieuTV.net
---
<center>{% for cate in site.categories %}{% assign c=cate | first %}{% assign posts=cate | last %}{% if c !="0x0" %}<a href="{{site.baseurl}}/{{c}}" class="btn btn-success wfixed"><img src="{{site.asseturl}}/flags/{{c}}.jpg" class="pull-left"/><span class="pull-left">{{c|upcase}}</span><span class="badge pull-right">{{posts|size}}</span></a>{% endif %}{% endfor %}<a class="btn btn-primary" href="{{site.baseurl}}/0phanloai">Chờ phân loại</a><a class="btn btn-primary" href="{{site.baseurl}}/phimma">Phim Ma</a><a class="btn btn-primary" href="{{site.baseurl}}/phimhai">Phim Hài</a><a class="btn btn-primary" href="{{site.baseurl}}/phimhoathinh">Phim Hoạt Hình</a><a class="btn btn-warning" href="{{site.baseurl}}/about"><i class="glyphicon glyphicon-info-sign"></i>About</a></center>
